<!DOCTYPE html>
{% extends "layout.html" %} 
{% block content %}
<div class="test"> 
<head>
  <h1>This is my test page for embedding something</h1>
</head>
<body>
  <p>There it is</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/YLQp3k3AHJM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h2>Does it good?</h2>
  <script data-ad-client="pub-2019644337035857" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166866867-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166866867-1');
</script>



<div>
{% endblock %} 
</body>

